<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="CrowdPublish.TV" content="Where authors and actors earn more money from their loyal fans">
<title>CrowdPublishTV - Crowdfund Classy Stories</title>
</head>

<div class="row">

  <script src="https://meet.jit.si/external_api.js">  </script>
  <script>
    jQuery(document).ready(function($) {

      var domain = "meet.jit.si";
      var options = {
        roomName: "CrowdPublishTV",
        width: 800,
        height: 700,
        parentNode: document.querySelector('#meet')
      }
      var api = new JitsiMeetExternalAPI(domain, options);
    });
  </script>

  <div id = "meet">
  </div>  

  <div class="col-md-5 col-sm-6 col-xs-12" style="padding-top:15px; padding-right:-55px;">
<<<<<<< HEAD

<<<<<<< HEAD
    <iframe width="420" height="315" src="http://www.youtube.com/embed/tp_U96k12ds" frameborder="0" allowfullscreen></iframe>
=======
=======
>>>>>>> 9629a2c05fbf4c67463c558eb1817ae982c73651
    <div class="btn btn-primary" style="font-size:24px; background:#fff;">
      <a href="https://hangouts.google.com/call/Ng40GpGL1kmM2EGcu70CAAEE"  
      onclick="window.open('https://hangouts.google.com/call/Ng40GpGL1kmM2EGcu70CAAEE', 
                         'newwindow', 
                         'width=750,height=750' ); 
              return false;"
      >Use Hangouts</a>
    </div>
<<<<<<< HEAD
>>>>>>> 56c878fbe22f632b6633c1a7eac99b46d08a3c0a

=======
>>>>>>> 9629a2c05fbf4c67463c558eb1817ae982c73651
    <br><br>
  </div>

  </div>
</div> 
 
